html, body {
  background-color: #fff;
  color: #000;
  font-family: Garamond, Georgia, serif;
}

.double-sided {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.menu-bg {
  background: url(../images/tile.png);
}

.card-bg {
  background-color: rgba(255, 255, 255, 0.8);
}

.card-title {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.card-title span {
  font-style: italic;
  font-weight: normal;
}

.page-bg {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #0c4863;
  background-color: #207791;
  border-radius: 4px;
}

.page-content {
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
